<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>

  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          情報回覧板•チャットルーム
        </div>
      </div>
    </div>

    <div class="messages-sharing">
      <div class="messages-title">
        ルール
      </div>
      <div class="messages-content">
        <div class="messages-item">1 職場間での一つの情報共有のツールとして！</div>
        <div class="messages-item">2 小さな疑問や課題があれば互いにシェア！</div>
      </div>
      <br>
      <div class="messages-title">
        使い方
      </div>
      <div class="messages-content">
        <div class="messages-item">左端のタイトルから該当する掲示板に移動できます</div>
        <div class="messages-item">チャットルームは〜、掲示板は〜で表記されています</div>
        <div class="messages-item">※チャットルームは招待された部屋しか表示されません</div>
      </div>

    </div>

    </div>
  </div>
</div>